<div class="container mx-auto p-4 max-w-[980px]">
  <!-- 타이머 설정 -->
  <h2 class="text-2xl font-bold mb-4 ml-4">타이머 설정</h2>
  <form id="timerForm" class="card bg-base-200 p-6">
    <input type="hidden" id="addSeconds" value="0" />

    <!-- 진행중인 타이머 -->
    <div id="remainingTimer" class="flex mb-5 <%- timerStatus == 'end' ? 'hidden ' : '' %>">
      <div class="flex flex-col justify-end">
        <h2 class="font-bold mb-4">진행중인 타이머</h2>
        <div class="grid auto-cols-max grid-flow-col gap-5 text-center">
          <span id="overTimerMark" class="text-5xl flex items-center hidden opacity-0 transform scale-75 transition-all duration-500 ease-in-out">
            +
          </span>
          <span id="dayCountDown" class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
            <span class="countdown text-5xl">
              <span id="timerDay" style="--value:0;"></span>
            </span>
            days
          </span>
          <div id="timerHourColon" class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
            <span class="countdown text-5xl">
              <span id="timerHour" style="--value:0;"></span>
            </span>
            hours
          </div>
          <div id="timerMinutesColon" class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
            <span class="countdown text-5xl">
              <span id="timerMinutes" style="--value:0;"></span>
            </span>
            min
          </div>
          <div class="bg-neutral rounded-box text-neutral-content flex flex-col p-2">
            <span class="countdown text-5xl">
              <span id="timerSeconds" style="--value:0;"></span>
            </span>
            sec
          </div>
        </div>
      </div>
    </div>

    <!-- 시간 설정 -->
    <div class="grid grid-cols-3 gap-4 mb-6">
      <div>
        <label for="hours" class="block mb-2">시</label>
        <select id="hours" class="select select-bordered w-full" onchange="changeTimeSelect()">
          <% for (let i = 0; i < 24; i++){ %>
          <option value="<%- String(i).padStart(2, '0') %>"><%- String(i).padStart(2, '0') %></option>
          <% } %>
        </select>
      </div>
      <div>
        <label for="minutes" class="block mb-2">분</label>
        <select id="minutes" class="select select-bordered w-full" onchange="changeTimeSelect()">
          <% for (let i = 0; i < 60; i++){ %>
          <option value="<%- String(i).padStart(2, '0') %>"><%- String(i).padStart(2, '0') %></option>
          <% } %>
        </select>
      </div>
      <div>
        <label for="seconds" class="block mb-2">초</label>
        <select id="seconds" class="select select-bordered w-full" onchange="changeTimeSelect()">
          <% for (let i = 0; i < 60; i++){ %>
          <option value="<%- String(i).padStart(2, '0') %>"><%- String(i).padStart(2, '0') %></option>
          <% } %>
        </select>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-4 mb-6 text-blue-400">
      <button type="button" class="btn btn-ghost btn-sm" onclick="clickTimeBtn(60)">1분</button>
      <button type="button" class="btn btn-ghost btn-sm" onclick="clickTimeBtn(300)">5분</button>
      <button type="button" class="btn btn-ghost btn-sm" onclick="clickTimeBtn(600)">10분</button>
      <button type="button" class="btn btn-ghost btn-sm" onclick="clickTimeBtn(900)">15분</button>
      <button type="button" class="btn btn-ghost btn-sm" onclick="clickTimeBtn(1800)">30분</button>
      <button type="button" class="btn btn-ghost btn-sm" onclick="clickTimeBtn(3600)">1시간</button>
    </div>

    <div class="mb-6">
      <label for="title" class="block mb-2">타이머 이름</label>
      <input type="text" id="title" name="title" placeholder="타이머" class="input input-bordered w-full" value="<%- timerSettings.title %>" required />
    </div>

    <div class="mb-6">
      <label for="description" class="block mb-2">타이머 설명</label>
      <input type="text" id="description" name="description" placeholder="타이머에 대한 설명" class="input input-bordered w-full" value="<%- timerSettings.description %>" required />
    </div>

    <div class="flex flex-wrap justify-center">
      <button type="button" id="resetBtn" class="btn btn-warning w-[45%] mt-4 mr-4" onclick="resetTimer()">초기화</button>
      <button type="submit" id="startBtn" class="btn btn-primary w-[45%] mt-4"><%- timerStatus != 'none' ? '새 ' : '' %> 타이머 시작</button>
      <button type="button" id="pauseBtn" class="btn btn-info w-[45%] mt-4 mr-4 <%- timerStatus == 'run' || timerStatus == 'end' ? '' : 'hidden' %>" onclick="pauseTimer()">기존 타이머 정지</button>
      <button type="button" id="resumeBtn" class="btn btn-success w-[45%] mt-4 mr-4 <%- timerStatus == 'pause' ? '' : 'hidden' %>" onclick="resumeTimer()">기존 타이머 재개</button>
      <button type="button" id="deleteBtn" class="btn btn-error w-[45%] mt-4 <%- timerStatus != 'none' ? '' : 'hidden' %>" onclick="deleteTimer()">기존 타이머 삭제</button>
    </div>
  </form>
</div>

<script>
  const socket = io();
  let timerInterval;

  /**
   * 타이머 업데이트 이벤트 처리
   */
  socket.on('timerUpdated', (timerSettings) => {
    // 기존 타이머 삭제
    if (timerInterval) {
      clearInterval(timerInterval);
    }

    // 타이머 설정
    initializeTimer(timerSettings);
  });

  /**
   * 타이머 업데이트 이벤트 처리
   */
  socket.on('timerPause', (timerSettings) => {
    clearInterval(timerInterval);
  });

  /**
   * 타이머 설정
   */
  const form = document.getElementById('timerForm');

  document.addEventListener("DOMContentLoaded", function() {
    form.addEventListener('submit', timerUpdate);
  });
</script>