<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/assets/images/favicon/android-icon-512x512.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="icon" href="/assets/images/favicon/favicon.ico">
  <meta name="theme-color" content="#ffffff">
  <title><%= title %></title>

  <!-- 공통 CSS -->
  <link rel="stylesheet" href="/assets/css/output.css">
  <!-- 페이지별 추가 CSS -->
  <% if (typeof extraCss != 'undefined') { %>
  <% extraCss.forEach((css, index) => { %>
  <link rel="stylesheet" href="<%= css %>">
  <% }); %>
  <% } %>

  <!-- 공통 js -->
  <script src="/assets/js/common.js"></script>
  <!-- 페이지별 추가 js -->
  <% if (typeof extraJs != 'undefined') { %>
  <% extraJs.forEach((js, index) => { %>
  <script src="<%= js %>"></script>
  <% }); %>
  <% } %>
</head>

<body>

  <!-- header -->
  <%- include('./header') %>

  <!-- content -->
  <div id="content" class="pt-5 font-mono">
    <%- include(body) %>
  </div>

  <!-- footer -->
  <%- include('./footer') %>
</body>

</html>